<div class="max-w-sm secondary-bgColor p-4 rounded-xl">
    <div class="flex">
        <img src="{{user.avatar_url}}" alt="profile" class="w-20 github-user-profile"/>
        <div class="m-3">
            <div class="text-lg">{{user.name || user.login}}</div>
            <div class="text-xs secondary-text">{{user.bio || "No bio available"}}</div>
        </div>
    </div>
    <div class="primary-bgColor rounded-xl p-4 m-3">
        {{user.twitter_username || "No twitter account available"}}
    </div>
</div>  