<main>
    <div class="text-center p-4 high-z">
      <div class="text-5xl font-semibold">
        Explore Github <span class="gradient-text">profiles</span> and <span class="gradient-text">repositories</span>
      </div>
      <p class="mt-5 ternary-text">Discover GitHub users, explore their repositories, twitter handle, topics, and more in one place! </p>
      <iframe src="https://lottie.host/embed/3cbf55f1-9917-4736-a864-ca4198f59ea7/k59nWHqXXg.json" class="github-octocat"></iframe>
    </div>
    <div class="blue-animation"></div>
    <div class="purple-animation"></div>
</main>