.blue-animation {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -30px;
    left: -30px;
    border-radius: 50%;
    background-color: #2558f3;
    filter: blur(100px);
    z-index: 1;
}

.purple-animation {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -30px;
    right: -30px;
    border-radius: 50%;
    background-color: #a125f3;
    filter: blur(100px);
    z-index: 1;
}

.github-octocat {
    width: 100vw;
    height: 500px;
}

.gradient-text {
    background: radial-gradient(circle at 10% 20%, rgb(111, 111, 219) 0%, rgb(182, 109, 246) 72.4%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: hue 10s infinite linear;
}

@keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
}
  